.btn-close {
  display: none;
}

.btn-delete {
  background-color: var(--danger) !important;
  &:hover {
    background-color: var(--danger-hover) !important;
  }
}

.btn-confirm {
  background-color: var(--primary) !important;
  border-color: var(--sidebar) !important;
  &:hover {
    background-color: var(--primary-hover) !important;
  }
}

.btn-journal {
  background-color: transparent !important;
  border-color: var(--sidebar) !important;
  &:hover {
    background-color: var(--tertiary) !important;
  }
}

.mgs-btn {
  color: #21b5b1 !important;
  font-style: italic;

  &:hover {
    color: #49fffc !important;
    font-weight: bold;
  }
}
