body,
body *,
input,
textarea,
select,
button,
::placeholder,
a {
  color: var(--text) !important;
}

body.theme-transition {
  transition: background-color 1s ease, color 1s ease;
}

body.theme-transition,
body.theme-transition * {
  transition: background-color 1s ease, color 1s ease;
}

body {
  background-color: var(--body) !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-thumb-color) var(--scroll-track-color);
}

input::placeholder,
textarea::placeholder {
  opacity: 0.3 !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.rotate-180 {
  transform: rotate(180deg);
}

.user-select-none {
  user-select: none;
}
