.sidebar {
  background-color: var(--color-sidebar);

  &-item {
    cursor: pointer;

    &:hover {
      background-color: var(--color-tabs-hover);
    }
  }
}

.catalogo-dropdown {
  .dropdown-menu-custom {
    height: 100vh;
    left: 100%;
    width: 150px;
    background-color: var(--color-page);
    border: 1px solid #dee2e6;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

    .dropdown-item {
      &:hover {
        background-color: var(--color-tabs-hover);
      }
    }
  }
}
