.tabs-container {
  background: linear-gradient(90deg, var(--section), var(--card)) !important;
  overflow: hidden;
}

.tabs {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  &.active {
    background-color: var(--primary-hover) !important;
    border-color: var(--primary-hover) !important;
  }
  &:hover {
    background-color: var(--primary-hover) !important;
    border-color: var(--primary-hover) !important;
  }
}

.tabs-content,
.overview-content {
  height: calc(100vh - 3.4rem);
  overflow-y: auto;
}

.tab-section {
  padding: 1.5rem;
  h2 {
    font-weight: bold;
    margin: 1rem 0 0.5rem;
  }

  p {
    margin: 0.25rem 0;
  }
}

/* OVERVIEW-TAB */
.overview-tab {
  @extend .tab-section;

  background-color: var(--dark);
  border-right: 1px solid rgba(0, 0, 0, 0.1);

  h5 {
    margin-block: 0.7em;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
  }

  span {
    text-transform: none;
    font-weight: normal;
    color: var(--secondary) !important;
  }
}

/* DESCRIPTION-TAB */
.description-tab {
  @extend .tab-section;

  .carousel {
    max-height: 400px;

    .carousel-item img {
      display: block;
      height: 400px;
      object-fit: cover;
      margin: 0 auto;
    }
  }

  .game-description {
    margin-top: 2rem;
  }
}

/* ACHIEVEMENTS-TAB */
.achievements-tab {
  @extend .tab-section;

  .achievement {
    display: flex;
    align-items: center;
    border: 1px solid var(--primary);
    transition: background-color 0.3s;

    &.locked {
      opacity: 0.5;
    }

    .achievement-image {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }
}

/* DETAILS-TAB */
.details-tab {
  @extend .tab-section;

  .team {
    .member {
      background-color: var(--card);
      max-width: 24%;
    }
  }
}
