@use "./variables" as *;

.fs-7 {
  font-size: 0.9rem;
}

@each $name, $value in $color-vars {
  .text-#{$name} {
    color: #{$value} !important;
  }

  .bg-#{$name} {
    background-color: #{$value} !important;
  }

  .border-#{$name} {
    border-color: #{$value} !important;
  }
}

@each $name, $value in $color-vars-hover {
  .#{$name}-hover:hover {
    background-color: $value !important;
  }
}
