:root {
  --color-page: #f9fafb;
  --color-text: #111827;
  --color-text-secondary: #abb4c5;

  --color-sidebar: white;

  --color-primary: #3b127d;
  --color-primary-hover: #5b21b6;

  --color-section: #e5e7eb;
  --color-card: white;

  --color-comingsoon: #f1a265;

  --color-theme-bg: #d2d2d2;

  --scroll-track-color: rgba(0, 0, 0, 0.05);
  --scroll-thumb-color: rgba(60, 60, 60, 0.5);
  --scroll-thumb-hover: rgba(60, 60, 60, 0.8);
}

.dark-theme {
  --color-page: #0f172a;
  --color-text: #f1f5f9;
  --color-text-secondary: #777995;

  --color-sidebar: rgb(14, 20, 35);
  --color-primary: #222358;
  --color-primary-hover: #411f86;

  --color-danger: #dc2626;
  --color-danger-hover: #b91c1c;

  --color-section: #192231;
  --color-card: rgba(255, 255, 255, 0.12);

  --color-theme-bg: #080d17;

  --color-added: #facc15;

  --scroll-track-color: rgba(255, 255, 255, 0.05);
  --scroll-thumb-color: rgba(180, 180, 180, 0.3);
  --scroll-thumb-hover: rgba(180, 180, 180, 0.5);
}
