:root {
  --primary: #4f46e5;
  --primary-hover: #6e81ff;

  --danger: #dc2626;
  --danger-hover: #b91c1c;

  --success: #16a34a;
  --success-hover: #15803d;

  --text: #1e293b;
  --secondary: #64748b;
  --tertiary: #4f46e5;

  --body: #f8fafc;
  --sidebar: #e2e8f0;
  --section: #f1f5f9;
  --card: rgba(255, 255, 255, 0.8);

  --dark: #e5e7eb;

  --added: #ca8a04;

  --scroll-track-color: rgba(0, 0, 0, 0.05);
  --scroll-thumb-color: rgba(100, 100, 100, 0.2);
  --scroll-thumb-hover: rgba(100, 100, 100, 0.4);
}

.dark-theme {
  --primary: rgb(31, 27, 83);
  --primary-hover: #411f86;

  --danger: #dc2626;
  --danger-hover: #b91c1c;

  --success: #16a34a;
  --success-hover: #15803d;

  --text: #f1f5f9;
  --secondary: #777995;
  --tertiary: #612ccb;

  --body: #0f172a;

  --sidebar: rgb(14, 20, 35);

  --section: #192231;
  --card: rgba(255, 255, 255, 0.12);

  --dark: #080d17;

  --added: #facc15;

  --scroll-track-color: rgba(255, 255, 255, 0.05);
  --scroll-thumb-color: rgba(180, 180, 180, 0.3);
  --scroll-thumb-hover: rgba(180, 180, 180, 0.5);
}
