:root {
  --color-page: #f9fafb;
  --color-text: #111827;
  --color-text-secondary: #abb4c5;

  --color-sidebar: white;

  --color-primary: #3b127d;
  --color-primary-hover: #5b21b6;

  --color-section: #e5e7eb;
  --color-card: white;

  --color-comingsoon: #f1a265;

  --color-theme-bg: #d2d2d2;

  --scroll-track-color: rgba(0, 0, 0, 0.05);
  --scroll-thumb-color: rgba(60, 60, 60, 0.5);
  --scroll-thumb-hover: rgba(60, 60, 60, 0.8);
}

.dark-theme {
  --primary: rgb(31, 27, 83);
  --primary-hover: #411f86;

  --danger: #dc2626;
  --danger-hover: #b91c1c;

  --text: #f1f5f9;
  --secondary: #777995;

  --body: #0f172a;

  --sidebar: rgb(14, 20, 35);

  --section: #192231;
  --card: rgba(255, 255, 255, 0.12);

  --dark: #080d17;

  --added: #facc15;

  --scroll-track-color: rgba(255, 255, 255, 0.05);
  --scroll-thumb-color: rgba(180, 180, 180, 0.3);
  --scroll-thumb-hover: rgba(180, 180, 180, 0.5);
}
